/*
Theme Name: kimagureweb
Theme URI: 
Author: kojima tomohiro
*/

@import '_valiables.scss';

html, body {
    height: 100%;
}

html{
    font-size:62.5%;
    font-size-adjust: 100%;
}

body {
    font-size:16px;
    font-family: 'Life Savers', cursive,"Kokoro",
                -apple-system, blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
                 'Helvetica Neue', /* Macの欧文 (OS X 10.10以前) */
                 'Segoe UI',       /* Windowsの欧文 */
                 YuGothicM,        /* Windows8.1以上は游ゴシック */
                 YuGothic,         /* Macの游ゴシック */
                 Meiryo,       /* 游ゴシックが入っていないWindows */
                 sans-serif;
    background: #fcfcfc;
    font-size:1.5rem;
    color:$font-color;
    word-break: break-all;
  }

  a{
      text-decoration: none;
  }

  li{
      list-style: none;
  }


  //全体で共通
  img{
      max-width: 100%;
      height:auto;
  }

.main-content{
    &.hide{
        display: none;
    }
}
.container{
    padding:$sm 0 $lg;
}
.inner{
    margin:0 auto;
    width:94%;
}

.flex-left{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    .category-label, .date-label, .tag-label{
        margin:0 16px 0 0;
    }

    .date-label{
        padding-top: 4px;
    }
}

article .content{
    margin:0 12px 16px;
}

.title-label{
    color: $yellow;
    text-align: center;
    margin:0;
    line-height: 1.6;
    padding:16px 12px;
    letter-spacing: 0.5px;
    font-size: 2.6rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid $yellow;
    background: #eee;
}

.date-label{
    margin:12px 12px 0;
    color:$font-color;
    font-size:1.3rem;
}

.category-label, .tag-label{
    margin: 0px 12px 8px;
    a{
        color:$font-color;
        font-size:1.3rem;
        text-decoration: underline;
    }
    i{
        color:$green;
        font-size:1.2rem;
        margin-right:4px;
    }
}

.excerpt{
    padding:4px 12px 16px;
    margin:0;
    font-size:1.5rem;
    color:$font-color;
}




  /*==================
 ▼ブレイクポイントのルール▼
 -スマホを基本設計にする-
 *〜479px：SP縦
 *480px〜：SP横
 *600px〜タブレット
 *940px〜小型PC
 *1280px〜大型PC
==================*/

/*  画面サイズが480pxまで  */


   
   
@media screen and (min-width:769px) {
    /*　画面サイズが1280pxからはここを読み込む　*/

    .title-label{
        padding:24px 16px;
        letter-spacing: 2px;
        font-size: 4.2rem;
    }
    
    .date-label{
        margin:16px 16px 0;
        font-size:1.4rem;
    }
    
    .category-label, .tag-label{
        margin: 0px 16px 16px;
        a{
            font-size:1.4rem;
        }
        i{
            color:$lightgreen;
            font: size 1.4rem;
            margin-right:8px;
        }
    }
    
    .excerpt{
        padding:8px 16px 24px;
        font-size:1.6rem;
    }
    
}