@import '_valiables.scss';



.column{
    list-style: none;
    padding:0;
    margin:0;
    li{
        margin-left:0;
        float:left;
        width:100%;
        margin:0 0 $md 0;
        box-shadow: 0 0 10px -2px $shadow;
        background: #fff;
        border-radius: 4px;
        box-sizing: border-box;
    }
    &:after{
        content: "."; 
        display: block; 
        height: 0; 
        font-size:0;	
        clear: both; 
        visibility:hidden;
    }
}



@media screen and(min-width:580px) and (max-width: 768.99px){

    .column{
        li{
            float:left;
            width:46%;
            margin:0 8% $md 0;
        }
        li:nth-child(even){
            margin-right:0;
        }
    }
} 


@media screen and (min-width:769px){

    .column{
        li{
            float:left;
            width:30%;
            margin:0 5% $md 0;
        }
        li:nth-child(3n){
            margin-right:0;
        }
    }

} 
