@import '_valiables.scss';

.header-nav{
    @include greenGradation;
}


.header-inner{
    margin:0 12px 0;
    padding: 12px 0;
    display: flow-root;
    &:after{
        content: "."; 
        display: block; 
        height: 0; 
        font-size:0;	
        clear: both; 
        visibility:hidden;
    }
}

.site-logo{
    width: 40px;
    display: block;
    float:left;
}

.top-nav-icon{
    float:right;
    display: flex;
}


.searchWindow{
    position: relative;
    width: 120px;
    box-sizing: border-box;
    height:28px;
    input{
        -webkit-appearance: none;
        padding:6px 4px 6px 16px;
        width:100%;
        font-size:12px;
        color:#fff;
        box-sizing: border-box;
        line-height: 14px;
        @include greenGradation;
    }
    &:before{
        position: absolute;
        top:0;
        left:2px;
        bottom:0;
        margin:auto;
        font-family: "Font Awesome 5 Free";
        content: '\f118';
        height: 20px;
        width:30px;
        color:$green;
    }
    
}

//menuボタン
.menu-btn{
    display: block;
    margin-left:12px;
    margin-top: 4px;
    i{
        color:#fff;
        font-size:2rem;
    }
}


@media screen and (max-width:769px) {



    //=================================
    // スマホのメニュー
    //=================================

    .main-nav{
        position: fixed;
        width:100%;
        min-height: 100vh;
        height:auto;
        z-index: -1;
        left: 0;
        top:0;
        right:0;
        visibility: hidden;
        background: $green;
        &.show{
            z-index: 100;
            visibility:visible;
        }
        .menu-menu-1-container{
            width:100%;
            min-height: calc(100vh - 116px);
            background: linear-gradient(to right, $top1, $top2);
            overflow: scroll;
        }
        .menu{
            padding:0;
            margin:0px 16px 60px;
            li{
                margin-bottom:16px;
                text-align: center;
            }
        }
        a{
            color:#fff;
            font-size:2.2rem;
            line-height: 1.6;
        }
    }

    .menuCloseWrap{
        background: linear-gradient(to right, $top1, $top2);
        padding: 30px 0 16px;
        text-align: center;
    }
    .menuClose{
        display: inline-block;
        width: 136px;
        line-height: 68px;
        height: 68px;
        border:1px solid #eee;
        border-radius: 2px;
        letter-spacing: 2px;
        font-size: 20px;
        color:$green;
        background: #fff;
        text-align: center;
        i{
            margin-right:4px;
        }
    }

}


//=================================
// header-bottom  home category page
//=================================

.home-category-title{
    @include greenGradation;
    -webkit-clip-path:polygon(0% 0,100% 0,100% 60%,
    50% 100%, 0 60%);
    text-align: center;
    padding:20px 0 180px;
    margin-bottom: 30px;
    .logo{
        width:120px;
        margin:0 auto 16px;
        i{
            font-size:112px;
        }
        .fa-php{
            color:#0074bf;
            background: #fff;
        }
        .fab{
            border-radius: 4px;
            padding: 4px;
        }

    }
    h1{
        margin:0 0 16px;
        font-size:4rem;
        font-weight: bold;
        color:#fff;
        letter-spacing: 3px;
    }

    .cate-title{
        display: flex;
        justify-content: center;
        margin:0 0 16px;
        h1{
            margin:0;
        }

    }
    &.hide{
        display: none;
    }
}

.searchResultBox{
    text-align: center;
    display: none;
    color:$green;
    &.show{
        display: block;
    }
    h2{
        font-size: 34px;
        letter-spacing: 2px;
        i{
            margin-right:4px;
        }
    }
}

.searchClose{
    width: 136px;
    line-height: 68px;
    height: 68px;
    margin: 24px auto;
    border:1px solid #eee;
    border-radius: 2px;
    letter-spacing: 2px;
    font-size: 20px;
    i{
        margin-right:4px;
    }
}

  
   
@media screen and (min-width:769px) {


    .header-inner{
        margin:0 24px 0;
        padding: 16px 0;
    }

    .menu-btn{
        display: none;
    }
    //=================================
    // header-bottom  home category page
    //=================================

    .home-category-title{
        padding:120px 0 240px;
        margin-bottom: 60px;
        .logo{
            width:180px;
            margin:0 auto 20px;
        }
        h1{
            margin:0 0 32px;
            font-size:8rem;
            letter-spacing: 4px;
        }
        &.hide{
            display: none;
        }
    }

    .searchClose{
        margin: 60px auto;
        font-size:3rem;
        width: 160px;
        line-height: 80px;
        height: 80px;
    }

    .searchResultBox{
        h2{
            font-size: 4.8rem;
            letter-spacing: 4px;
            color:$green;
            i{
                margin-right:8px;
            }
        }
    }

    //=================================
    // PCのメニュー
    //=================================

    .main-nav{
        float: left;
        margin-right:16px;
        .menu{
            padding:0;
            margin:0;
            &:after{
                content: "."; 
                display: block; 
                height: 0; 
                font-size:0;	
                clear: both; 
                visibility:hidden;                
            }
            li{
                float: left;
                text-align: center;
                margin-right: 24px;
            }
        }
        a{
            color:#fff;
            font-size:2.2rem;
            line-height: 1.6;
        }
    }

    .menuCloseWrap{
        display: none;
    }



}
