
//オレンジ系 親しみ、元気、楽しい、活発、活動
$font-color:#0f0f0f;

$white:#fcfcfc;
$orange:#ffa801;
$yellow:#edc600;
$lightgreen:#10FF00;
$green:#00904a;
$red:#f53240;
$pink:#c30068;
$shadow:#cccccc;
$top1: rgba(107, 183, 86, .95);
$top2: rgba(0, 143, 104, .95);

@mixin greenGradation(){
    background: linear-gradient(to right, $top1, $top2);
}


$sm:24px;
$md:46px;
$lg:80px;

@media screen and(min-width:680px) and (max-width: 768.99px){

}


@media screen and (min-width:769px){
$sm:24px;
$md:40px;
$lg:80px;

}


