@charset "UTF-8";
/*
Theme Name: kimagureweb
Theme URI: 
Author: kojima tomohiro
*/
html, body {
  height: 100%; }

html {
  font-size: 62.5%;
  font-size-adjust: 100%; }

body {
  font-size: 16px;
  font-family: "Life Savers", cursive, "Kokoro", -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI", YuGothicM, YuGothic, Meiryo, sans-serif;
  background: #fcfcfc;
  font-size: 1.5rem;
  color: #0f0f0f;
  word-break: break-all; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.main-content.hide {
  display: none; }

.container {
  padding: 24px 0 80px; }

.inner {
  margin: 0 auto;
  width: 94%; }

.flex-left {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px; }
  .flex-left .category-label, .flex-left .date-label, .flex-left .tag-label {
    margin: 0 16px 0 0; }
  .flex-left .date-label {
    padding-top: 4px; }

article .content {
  margin: 0 12px 16px; }

.title-label {
  color: #edc600;
  text-align: center;
  margin: 0;
  line-height: 1.6;
  padding: 16px 12px;
  letter-spacing: 0.5px;
  font-size: 2.6rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #edc600;
  background: #eee; }

.date-label {
  margin: 12px 12px 0;
  color: #0f0f0f;
  font-size: 1.3rem; }

.category-label, .tag-label {
  margin: 0px 12px 8px; }
  .category-label a, .tag-label a {
    color: #0f0f0f;
    font-size: 1.3rem;
    text-decoration: underline; }
  .category-label i, .tag-label i {
    color: #00904a;
    font-size: 1.2rem;
    margin-right: 4px; }

.excerpt {
  padding: 4px 12px 16px;
  margin: 0;
  font-size: 1.5rem;
  color: #0f0f0f; }

  /*==================
 ▼ブレイクポイントのルール▼
 -スマホを基本設計にする-
 *〜479px：SP縦
 *480px〜：SP横
 *600px〜タブレット
 *940px〜小型PC
 *1280px〜大型PC
==================*/
/*  画面サイズが480pxまで  */
@media screen and (min-width: 769px) {
  /*　画面サイズが1280pxからはここを読み込む　*/
  .title-label {
    padding: 24px 16px;
    letter-spacing: 2px;
    font-size: 4.2rem; }

  .date-label {
    margin: 16px 16px 0;
    font-size: 1.4rem; }

  .category-label, .tag-label {
    margin: 0px 16px 16px; }
    .category-label a, .tag-label a {
      font-size: 1.4rem; }
    .category-label i, .tag-label i {
      color: #10FF00;
      font: size 1.4rem;
      margin-right: 8px; }

  .excerpt {
    padding: 8px 16px 24px;
    font-size: 1.6rem; } }
.header-nav {
  background: linear-gradient(to right, rgba(107, 183, 86, 0.95), rgba(0, 143, 104, 0.95)); }

.header-inner {
  margin: 0 12px 0;
  padding: 12px 0;
  display: flow-root; }
  .header-inner:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }

.site-logo {
  width: 40px;
  display: block;
  float: left; }

.top-nav-icon {
  float: right;
  display: flex; }

.searchWindow {
  position: relative;
  width: 120px;
  box-sizing: border-box;
  height: 28px; }
  .searchWindow input {
    -webkit-appearance: none;
    padding: 6px 4px 6px 16px;
    width: 100%;
    font-size: 12px;
    color: #fff;
    box-sizing: border-box;
    line-height: 14px;
    background: linear-gradient(to right, rgba(107, 183, 86, 0.95), rgba(0, 143, 104, 0.95)); }
  .searchWindow:before {
    position: absolute;
    top: 0;
    left: 2px;
    bottom: 0;
    margin: auto;
    font-family: "Font Awesome 5 Free";
    content: '\f118';
    height: 20px;
    width: 30px;
    color: #00904a; }

.menu-btn {
  display: block;
  margin-left: 12px;
  margin-top: 4px; }
  .menu-btn i {
    color: #fff;
    font-size: 2rem; }

@media screen and (max-width: 769px) {
  .main-nav {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    height: auto;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    visibility: hidden;
    background: #00904a; }
    .main-nav.show {
      z-index: 100;
      visibility: visible; }
    .main-nav .menu-menu-1-container {
      width: 100%;
      min-height: calc(100vh - 116px);
      background: linear-gradient(to right, rgba(107, 183, 86, 0.95), rgba(0, 143, 104, 0.95));
      overflow: scroll; }
    .main-nav .menu {
      padding: 0;
      margin: 0px 16px 60px; }
      .main-nav .menu li {
        margin-bottom: 16px;
        text-align: center; }
    .main-nav a {
      color: #fff;
      font-size: 2.2rem;
      line-height: 1.6; }

  .menuCloseWrap {
    background: linear-gradient(to right, rgba(107, 183, 86, 0.95), rgba(0, 143, 104, 0.95));
    padding: 30px 0 16px;
    text-align: center; }

  .menuClose {
    display: inline-block;
    width: 136px;
    line-height: 68px;
    height: 68px;
    border: 1px solid #eee;
    border-radius: 2px;
    letter-spacing: 2px;
    font-size: 20px;
    color: #00904a;
    background: #fff;
    text-align: center; }
    .menuClose i {
      margin-right: 4px; } }
.home-category-title {
  background: linear-gradient(to right, rgba(107, 183, 86, 0.95), rgba(0, 143, 104, 0.95));
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
  text-align: center;
  padding: 20px 0 180px;
  margin-bottom: 30px; }
  .home-category-title .logo {
    width: 120px;
    margin: 0 auto 16px; }
    .home-category-title .logo i {
      font-size: 112px; }
    .home-category-title .logo .fa-php {
      color: #0074bf;
      background: #fff; }
    .home-category-title .logo .fab {
      border-radius: 4px;
      padding: 4px; }
  .home-category-title h1 {
    margin: 0 0 16px;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px; }
  .home-category-title .cate-title {
    display: flex;
    justify-content: center;
    margin: 0 0 16px; }
    .home-category-title .cate-title h1 {
      margin: 0; }
  .home-category-title.hide {
    display: none; }

.searchResultBox {
  text-align: center;
  display: none;
  color: #00904a; }
  .searchResultBox.show {
    display: block; }
  .searchResultBox h2 {
    font-size: 34px;
    letter-spacing: 2px; }
    .searchResultBox h2 i {
      margin-right: 4px; }

.searchClose {
  width: 136px;
  line-height: 68px;
  height: 68px;
  margin: 24px auto;
  border: 1px solid #eee;
  border-radius: 2px;
  letter-spacing: 2px;
  font-size: 20px; }
  .searchClose i {
    margin-right: 4px; }

@media screen and (min-width: 769px) {
  .header-inner {
    margin: 0 24px 0;
    padding: 16px 0; }

  .menu-btn {
    display: none; }

  .home-category-title {
    padding: 120px 0 240px;
    margin-bottom: 60px; }
    .home-category-title .logo {
      width: 180px;
      margin: 0 auto 20px; }
    .home-category-title h1 {
      margin: 0 0 32px;
      font-size: 8rem;
      letter-spacing: 4px; }
    .home-category-title.hide {
      display: none; }

  .searchClose {
    margin: 60px auto;
    font-size: 3rem;
    width: 160px;
    line-height: 80px;
    height: 80px; }

  .searchResultBox h2 {
    font-size: 4.8rem;
    letter-spacing: 4px;
    color: #00904a; }
    .searchResultBox h2 i {
      margin-right: 8px; }

  .main-nav {
    float: left;
    margin-right: 16px; }
    .main-nav .menu {
      padding: 0;
      margin: 0; }
      .main-nav .menu:after {
        content: ".";
        display: block;
        height: 0;
        font-size: 0;
        clear: both;
        visibility: hidden; }
      .main-nav .menu li {
        float: left;
        text-align: center;
        margin-right: 24px; }
    .main-nav a {
      color: #fff;
      font-size: 2.2rem;
      line-height: 1.6; }

  .menuCloseWrap {
    display: none; } }
.column {
  list-style: none;
  padding: 0;
  margin: 0; }
  .column li {
    margin-left: 0;
    float: left;
    width: 100%;
    margin: 0 0 46px 0;
    box-shadow: 0 0 10px -2px #cccccc;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box; }
  .column:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }

@media screen and (min-width: 580px) and (max-width: 768.99px) {
  .column li {
    float: left;
    width: 46%;
    margin: 0 8% 46px 0; }
  .column li:nth-child(even) {
    margin-right: 0; } }
@media screen and (min-width: 769px) {
  .column li {
    float: left;
    width: 30%;
    margin: 0 5% 46px 0; }
  .column li:nth-child(3n) {
    margin-right: 0; } }
.footer {
  background: linear-gradient(to right, rgba(107, 183, 86, 0.95), rgba(0, 143, 104, 0.95));
  padding: 24px; }
  .footer a {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
